{% extends 'base.html' %}
{% block con %}

    <h1><b>SIGNUP PAGE</b></h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label class="form-label mt-5">USERNAME</label>
        <input type="text" name="uname" class="form-control">

        <label class="form-label mt-4">PASSWORD</label>
        <input type="passowrd" name="upass" class="form-control">

        <label class="form-label mt-4">CHECK PASSWORD</label>
        <input type="passowrd" name="ckpass" class="form-control">

        <label class="form-label mt-4">USERPIC</label>
        <input type="file" name="upic" class="form-control">

        <label class="form-label mt-4">COMMENT</label>
        <textarea class="form-control" name="ucom"></textarea> 

        <div class="text-end mt-4">
            <button class="btn btn-dark btn-lg">회원가입</button>
        </div>
    </form>
{% endblock %}