{% extends 'base.html' %}
{% block con %}
    <h1><b>게시글 수정</b></h1>

    <form method="post">
        {% csrf_token %}
        <input class="form-control mt-5" name="sub" value="{{b.subject}}" placeholder="INPUT SUBJECT">
        <input class="form-control mt-4 mb-4" value="{{ user }}" disabled>
        <textarea class="form-control" name="con" style="height: 250px;" placeholder="INPUT CONTENT">{{b.content}}</textarea>

        <div class="text-end mt-4">
            <button class="btn btn-dark">수정완료</button>
        </div>
    </form>

{% endblock %}